@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure SVG elements are clickable where intended, but not if they are just visual aids */
svg line {
  /* This rule makes lines easier to click by extending their clickable area */
  stroke-linecap: round; /* Makes line ends round, slightly increasing clickable area */
}

/* Text inside boxes shouldn't block clicks on lines */
svg text {
  user-select: none; /* Prevent text selection */
  pointer-events: none; /* Make text element ignore mouse events */
}

/* Dots shouldn't block clicks on lines */
svg circle {
  pointer-events: none; /* Make circle element ignore mouse events */
}
